html, body {
  margin: 0;
}

.navbar-brand{
  text-decoration: none;
  font-size:30px;
  color: darkcyan;
  font-family:cursive;
}
.navbar-login{
  text-decoration: none;
  font-size: 1.1rem;
  color:gray;
}
.btn-outline-primary{
  border-radius: 1.5rem;
  color: gray;
  border-color: gray;
}
.navbar-nav > li {
  margin-right: 20px; 
}
.nav-link{
  color: gray;
}