html, body {
  margin: 0;
}
.navbar-brand{
  text-decoration: none;
  font-size:30px;
  color: darkcyan;
  font-family:cursive;
  margin-left: 35px;
}
.navbar-login{
  text-decoration: none;
  font-size: 1.1rem;
  color:gray;
}
.btn-outline-primary{
  border-radius: 1.5rem;
  color: gray;
  border-color: gray;
}
.navbar-nav > li {
  margin-right: 20px; 
}
.nav-link{
  color: gray;
}
.bold-text{
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
}
.first-image{
  width: 500px;
  height: 290px;
  margin-top: 40px;
  border-radius: 15px;
}
.light-text{
  color: lightblue;
  margin-left: 125px;
  margin-top: -60px;
}
